*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#9D91A3 ;
    text-align: center;

}
.container {
    height: 80vh;
    justify-content: center ;
    align-items: center;
   
    display: flex;
    
    

}
.game{
   height: 60vmin;
   width: 60vmin;
    gap:1.5vmin;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem(0,0,0,0.3);
    font-size: 9vmin;
    color: #EDAF97;
    background-color: #9B7E83;
}
.btn{
    background-color: #AD91A3;
    font-size: large;
 }
 #h1 {
    color: rgb(128, 90, 126);
    font-size:45px;

 }